html {
  box-sizing: border-box;
  font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Oswald", sans-serif;
}

.footer_name {
  margin: 0 auto;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.link {
  padding-right: 46px;
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.name {
  width: 204px;
  padding-top: 29px;
  padding-bottom: 28px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.img_text {
}

.text_image {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 89px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.text_image_pure_batton {
  position: absolute;
  top: 80%;
  left: 49%;
  transform: translate(-50%, -50%);
}

.pure_batton {
  margin-right: 673px;
  margin-left: 679px;
  width: 80px;
  height: 10px;
  border: 3px solid #817070;
  background: #817070;
}

.middle {
  height: 632px;
}

.story_img_text {
  display: flex;
  justify-content: center;
}

.story {
  padding-top: 60px;
  padding-left: 674px;
  padding-bottom: 60px;
  padding-right: 675px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.small_image {
  padding-left: 80px;
  padding-right: 40px;
  width: 600px;
  height: 400px;
}

.story_about_coffe {
  padding-right: 123px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.blog {
  height: 711px;
  background: #efefef;
}

.general_container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 59px;
  padding-left: 102px;
  padding-bottom: 65px;
  padding-right: 103px;
}

.container {
  width: 365px;
  background-color: #ffffff;
}

.img_blog {
  width: 325px;
  height: 216px;
  padding-top: 24px;
  padding-left: 20px;
  padding-bottom: 24px;
  padding-right: 20px;
}

.name_blog {
  padding-top: 60px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.name_text_cont {
  padding-top: 20px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.text_blog {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 46px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.contact {
  height: 337px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #817070;
}
.subscribe {
  margin-top: 60px;
  margin-bottom: 28px;
  margin-left: 640px;
  margin-right: 639px;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.email {
  width: 300px;
  height: 55px;
  background: #817070;
  border: 3px solid #ffffff;
}

::placeholder {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.button {
  width: 129px;
  height: 55px;
  margin-top: 28px;
  margin-bottom: 58px;
  background: #ffffff;
  border: 3px solid #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #817070;
}

.footer {
  height: 72px;
  margin-top: 29px;
  margin-bottom: 14px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
