* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Comfortaa", cursive;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  padding: 50px;
  background: linear-gradient(blue, pink);
}

.container {
  width: 500px;
}

.input__form {
  display: flex;
  justify-content: center;
}

.input {
  width: 100%;
  padding: 15px;
  font-family: "Comfortaa", cursive;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #555;
  border-radius: 5px;
}

.btn {
  margin-left: 20px;
  font-family: "Comfortaa", cursive;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #555;
  border-radius: 5px;
}

.btn__li {
  margin-left: 20px;
  font-family: "Comfortaa", cursive;
  font-family: "Montserrat", sans-serif;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

li {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 15px 10px 15px 0;
}

.chk__txt {
  display: flex;
}

.text {
  padding-left: 35px;
}
